html,
body {
  height: 100%;
  background-color: white;
  font-family: Roboto !important;
  overflow-x: hidden;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding and margin */
html,
body,
main {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.logo {
  max-width: 100px;
}
.text-error {
  color: red;
  margin-top: 3px;
}
.showcase {
  max-width: 900px;

  margin: auto;
}

.input-group {
  width: 62% !important;
}
.header {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0.125rem 0.375rem;
  padding-left: 50px;
  padding-right: 50px;
}
.recipeList {
  background-color: #f5f6ea;
}
.recipeItem {
  text-decoration: none;
  color: black;
}
.recipeItem:hover {
  animation: fadeIn 2s;
}
@keyframes fadeIn {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
/* Remove default list styles */
.list-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Remove default hyperlink styles */
a {
  color: inherit;
  text-decoration: none;
}

/* Remove default text highlight color */
::selection {
  background-color: transparent;
}

/* Set default font size and line height */
body {
  font-size: 16px;
  line-height: 1.5;
}

.recipeImage {
  width: 250px;
  height: 170px;
}
